entrypoint = "main.py"
modules = ["postgresql-16", "python-3.10", "python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["sh", "-c", "export ENVIRONMENT=production ; python main.py"]
deploymentTarget = "gce"
build = ["sh", "-c", "pip install -r requirements.txt"]
ignorePorts = true

[workflows]
runButton = "run main in development environment"

[objectStorage]
defaultBucketID = "replit-objstore-5e9f8ccd-6c56-4a1f-9a11-9fc7cf44ce73"
